* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../back.jpg");
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 5rem;
}

.city {
    font-size: 2.3rem;
    font-weight: 300;
}

.temp {
    font-size: 3.5rem;
    font-weight: 200;
}

.condition {
    font-size: 1.3rem;
}

.tm {
    font-size: 1.3rem;
    margin: 0 0.3rem;
}

.tms {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}