* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-image: url("../back.jpg");
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 15rem;
}

input {
    height: 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: .2rem .5rem;
    outline: none;
    background-color: rgb(209, 188, 213, 0);
    border: 1px solid black;
    margin-right: 6px;
}

.iconn {
    height: 25px;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 100%;
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    justify-content: flex-end;

}

.head1 {
    color: grey;
}


.day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.3rem;
    border-bottom: 1px solid rgb(63, 165, 233);
}

section {
    margin-top: 2.5rem;
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    padding-bottom: 0;
}

.heading {
    border-bottom: 1px solid black;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;

}

.content::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    /* Set the width of the scrollbar */
}

.hour {
    margin: 0 0.5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

main {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    grid-template-rows: repeat(3, 200px);

    width: 100%;
}

.box1 {
    grid-column: 1/3;
    grid-row: 1/3;
    border: 1px solid black;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
    backdrop-filter: blur(3px);
}

.box1::-webkit-scrollbar {
    width: 1px;
    /* Set the width of the scrollbar */
}

.box1>* {
    text-align: left;
}

.hour>.elements {
    text-align: center;
}

.elements>img,
.details>img {
    height: 30px;
    width: 30px;
}

.hour {
    margin: 0 0.6rem;
}

.elements {
    margin: 1.1rem 0.3rem;
    font-size: 15px;
    font-weight: 200px;
}

.city {
    font-size: 2.3rem;
    font-weight: 300;
}

.temp {
    font-size: 3.5rem;
    font-weight: 200;
}

.condition {
    font-size: 1.3rem;
}

.tm {
    font-size: 1.3rem;
    margin: 0 0.3rem;
}

.tms {
    display: flex;
    align-items: center;
    justify-content: center;
}